<div class="">
  <mat-toolbar color="primary">
      <span>KEISAN</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="Calculate-icon" aria-label="Example icon-button with heart icon"> -->
          <mat-icon>calculate</mat-icon>
      <!-- </button> -->
  </mat-toolbar>
</div>

<div class="container d-flex justify-content-center">
  <div class="Container">

    <div class="box-container">
      <mat-card class="card-display">
        <mat-form-field appearance="outline">
          <mat-label>Final Ammount</mat-label>
          <input matInput placeholder="Ammount" value="{{ FinalSum| currency:'INR':'symbol':'5.0-0'}}" (keyup)="onKeyFinalAmt($event)">
          <mat-icon matSuffix class="animated-icon-pulse">currency_rupee</mat-icon>
          <mat-hint align="end">Actual amount</mat-hint>
        </mat-form-field>
    </mat-card>
    </div>
    <div class="box-container">
      <mat-card class="card-display">
        <mat-form-field appearance="outline" class="">
          <mat-label>Remaining Tenure</mat-label>
          <input matInput placeholder="In months" value={{RemainTenure}} (keyup)="onKeyTenure($event)">
          <mat-icon matSuffix class="animated-icon-spin-scale mat-primary">calendar_month</mat-icon>
          <mat-hint align="end">In Months</mat-hint>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="box-container">
      <mat-card class="card-display">
        <mat-form-field appearance="outline" class="">
          <mat-label>Bid Amount</mat-label>
          <input matInput placeholder="Sacrifice ammount on negative scale" value="{{BidAmount}}"
            (keyup)="onKeyBid($event)">
            <mat-icon matSuffix class="animated-icon-bounce">front_hand</mat-icon>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="box-container">
      <mat-card class="card-display">
        <mat-form-field class="" appearance="outline">
          <mat-label>Anual Interest Rate %</mat-label>
          <input matInput placeholder="in %" ng-model="percentage" value="{{AnualROI}}" (keyup)="onKeyROI($event)">
          <mat-icon matSuffix class="animated-icon-fade-in animated-icon-flip">trending_up</mat-icon>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="box-container">
      <mat-card class="card-display">
        <mat-form-field class="" appearance="outline">
          <mat-label>Total in hand Amount</mat-label>
          <input matInput placeholder="Take Away ammount" value="{{InHandAmmount}}" (keyup)="onKeyInHand($event)">
          <mat-icon matSuffix class="animated-icon-zoom-in-out mat-primary">thumb_up</mat-icon>
        </mat-form-field>
      </mat-card>
    </div>
    </div>
</div>